{
    "printWidth": 120,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "tabWidth": 4,
    "semi": false,
    "overrides": [
        {
            "files": ["*.y?(a)ml"],
            "options": {
                "tabWidth": 2,
                "useTabs": false
            }
        }
    ]
}
